<strong>Olá, {{ deliv }}</strong>
<p>Há um novo cancelamento na sua agenda, confira os detalhes a baixo:</p>

<p>
  <strong>Shopping:</strong> {{ shopping }} <br />
   <br />
   <strong>Recipient:</strong> {{ recipient }} <br />
   <strong>Problem:</strong> {{ problem }} <br />
   <strong>Canceled_at:</strong> {{ date }} <br />
</p>